@import 'normalize.css/normalize.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.section {
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: auto;
}

.progress {
    height: 2rem !important;
}

.header {
    height: 100vh;
    align-items: center;
    display: flex;
}